# ── FFmpeg ────────────────────────────────────────────────────────────────────
FFMPEG_PATH=C:\path\to\ffmpeg\bin

# ── Pre-trained emotion models ────────────────────────────────────────────────
RF_MODEL_PATH=C:\path\to\best_random_forest_model.pkl
SCALER_PATH=C:\path\to\standard_scaler.pkl